<main class="container d-flex justify-conten-center align-items-center">
    <section class="login-card bg-white d-flex flex-direction-col min-width">
        <div class="card-header mb-8">
            <h1 class="m-0 p-0 pb-16">Login</h1>
            <p class="m-0 p-0 secondary-text-color header-content">
                Qui do nostrud dolore reprehenderit officia minim nostrud tempor sit in amet tempor sint. 
                
            </p>
        </div>
        <div class="card-content">
            <div class="form-container">
                <form class="form-group">
                    <div class="form-element">
                        <label class="mark-required" for="email">Email</label>
                        <div class="input-wrapper justify-conten-center align-items-center">
                            <span class="prefix-icon"><i class="lni lni-envelope"></i></span>
                            <input type="text" name="email" placeholder="Enter your email" required />
                        </div>
                    </div>
                    <div class="form-element">
                        <label class="mark-required" for="password">Password</label>
                        <div class="input-wrapper justify-conten-center align-items-center">
                            <span class="prefix-icon"><i class="lni lni-lock"></i></span>
                            <input type="password" name="password" placeholder="Enter your password" required />
                        </div>
                    </div>
                    <div class="button-container mt-16">
                        <button class="btn-block btn-primary">Sign-In</button>
                    </div>
                </form>
            </div>

            <div class="d-flex justify-conten-center divider-group align-items-center mt-16 mb-16">
                <div class="divider"></div>
                <div class="divider-text">
                    <p class="secondary-text-color">OR</p>
                </div>
                <div class="divider"></div>

            </div>
            <div class="button-container">
                <div class="btn-group">
                    <p class="btn-outline btn-block secondary-text-color">
                        <span class="prefix-icon"><i class="lni lni-google"></i></span>Google
                    </p>
                    <p class="btn-outline btn-block secondary-text-color">
                        <span class="prefix-icon"><i class="lni lni-facebook-filled"></i></span>Facebook
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <p class="secondary-text-color">Don't have an account <span class="link">Sign-Up</span></p>
        </div>
    </section>
</main>