@use '../../../assets/flex.scss';
@use '../../../assets/spacing.scss';
.secondary-text-color {
  color: #959aac;
}

.bg-white {
  background-color: #ffffff;
}

.container {
  background-color: #7a97ff;
  height: 100vh;
}

.login-card {
  padding: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.624rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.card-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.divider-text {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  line-height: 1.5;
  font-size: 12px;
  padding: 0 0.25em;
  text-align: center;
  font-weight: 700;
}

.divider-group {
  line-height: 1.5;
}

.divider {
  height: 1px;
  width: 100%;
  color: #dadce0;
  background-color: #dadce0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.5;
}

.input-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 0;
  padding: 0.75rem 0.75rem;
  border: 1px solid #dadce0;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 0.625rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffffff;
  background-image: none;
}

.input-wrapper span {
  -webkit-box-flex: 0.05;
      -ms-flex: 0.05;
          flex: 0.05;
  line-height: 1.5;
}

.input-wrapper span.prefix-icon > i {
  color: #7a97ff;
  margin-right: 0.25rem;
}

.input-wrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 1.5;
  color: #242c44;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h1 {
  color: #242c44;
}

label {
  color: #242c44;
  font-weight: 500;
  margin: 0;
  position: relative;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

label.mark-required::after {
  color: #ff6161;
  margin-left: 0.1rem;
  content: "*";
  font-size: 1.3rem;
  line-height: 1;
}

button {
  line-height: 1.5;
  background-image: none;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  height: 40px;
  padding: 8px 12px;
  display: block;
  border-radius: 0.625rem;
}

button.btn-block {
  width: 100%;
}

button.btn-primary {
  color: #ffffff;
  background-color: #7a97ff;
  border-color: #7a97ff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.prefix-icon {
  color: #7a97ff;
  margin-right: 0.5rem;
}

.btn-outline {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border: 1px solid #dadce0;
  border-radius: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.card-footer {
  font-size: 12px;
  text-align: center;
}

.card-footer .link {
  color: #7a97ff;
  font-size: 14 px;
  text-decoration: underline;
}

@media screen and (min-device-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {
  .min-width {
    width: 24vw;
  }
  .login-card {
    padding: 3rem;
  }
  .form-container {
    margin-top: 2rem;
  }
  .divider-text {
    font-size: 14px;
  }
  .card-footer {
    font-size: 14px;
    text-align: center;
  }
  .card-footer .link {
    color: #7a97ff;
    font-size: 16 px;
    text-decoration: underline;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {
  .min-width {
    width: 48vw;
  }
  .login-card {
    padding: 3rem;
  }
  .form-container {
    margin-top: 2rem;
  }
  .divider-text {
    font-size: 14px;
  }
  .card-footer {
    font-size: 14px;
    text-align: center;
  }
  .card-footer .link {
    color: #7a97ff;
    font-size: 16 px;
    text-decoration: underline;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
  .min-width {
    width: 64vw;
  }
  .login-card {
    padding: 3rem;
  }
  .form-container {
    margin-top: 3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    background-color: #ffffff;
    height: 100vh;
  }
  .login-card {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
  .min-width {
    min-width: 320px;
    width: 100vw;
  }
  .header-content {
    display: none;
  }
  .btn-group {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
  }
  .btn-block {
    width: 100%;
  }
  .divider-text {
    font-size: 12px;
  }
}
/*# sourceMappingURL=css-login-screen.component.css.map */