<div class="container">
    <header class="d-flex">
        <div class="logo">

        </div>
        <div class="navbar d-flex w-100 justify-space-between">
            <div class="navLeft">
                <div class="form-element">
                    <div class="input-wrapper justify-conten-center align-items-center">
                        <span class="prefix-icon"><i class="lni lni-search-alt"></i></span>
                        <input type="search" name="email" placeholder="Search Here" />
                    </div>
                </div>
            </div>
            <div class="navRight">
                <div class="icon-grp">
                    <span class="icon"><i class="lni lni-alarm  fnt-sz-24"></i></span>
                    <span class="icon"><i class="lni lni-user  fnt-sz-24"></i></span>
                    <span class="icon"><i class="lni lni-cog  fnt-sz-24"></i></span>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <aside class="sideBar d-flex pl-16">
            <div>
                <div>
                    <p>Dashboard</p>
                    <ul>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                    </ul>
                </div>
                <div>
                    <p>Forms</p>
                    <ul>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                    </ul>
                </div>
                <div>
                    <p>Profile</p>
                    <ul>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                    </ul>
                </div>
                <div>
                    <p>List</p>
                    <ul>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                    </ul>
                </div>
                <div>
                    <p>Table</p>
                    <ul>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                        <li>Dashboard 1</li>
                    </ul>
                </div>
            </div>
        </aside>
        <main class="mainContent">

        </main>
    </div>
</div>