.d-flex {
  display: flex;
}

.justify-conten-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-direction-col {
  flex-direction: column;
}
